<div class="jumbotron event-list">
  <div class="container">
    <!--<h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">Events</h1>
    <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag" *ngIf="currentUser">Explore upcoming meet ups.</p>
    <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag" *ngIf="!currentUser">Sign up to add events.</p>-->
    <div *ngIf="!currentUser">
      <h1 [@title]="titleAnimation" style="opacity: 0; color:blueviolet" class="hero-header">
        Meet Up
      </h1>
      <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag">
        The only fake event planner you'll ever need
      </p>
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        (click)="goTo('/create-account')"
        style="background-color: #563d7cef;"
      >
        Sign Up
      </button>
    </div>
    <div *ngIf="currentUser">
      <h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">
        Hey, {{ currentUser.firstname }}
      </h1>
      <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag">
        Get started planning your fake events
      </p>
    </div>
  </div>
</div>
<div class="container">
  <button
    *ngIf="currentUser"
    class="create-event-fab"
    (click)="goTo('/create-event')"
    ngbTooltip="Create a new event"
    placement="top"
  >
    <i class="fa fa-plus"></i><span class="sr-only">Create an event</span>
  </button>
  <p *ngIf="currentUser">&nbsp;</p>
  <div class="row">
    <div class="col-5 " style="margin: 10px 0px 0px 0px">
      <ul class="nav nav-tabs" style="margin: 10px;">
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="getEvents()">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Created</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="getInvitedEvents()">Invited</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accepted</a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="filter"></label>
        <input type="text" name="filter" id="filter" class="form-control" placeholder="Search" aria-describedby="helpId" (keyup)="onKey($event)"> 
        <br>

      </div>
    </div>
  </div>
  <div class="list-group">
    <div *ngFor="let event of events" class="row">
      <div class="col-8">
        <a
          [routerLink]="['/event', event.id]"
          class="list-group-item list-group-item-action"
        >
          <span>{{ setStartDate(event.start) }}</span>
          <h5 class="list-group-item-heading">{{ event.name }}</h5>
          <p class="list-group-item-text">
            <i class="fa fa-map-marker"></i> {{ event.location }} <br />
            <small
              ><i class="fa fa-users"></i> {{ event.guests.length }} people are
              going</small
            >
          </p>
        </a>
      </div>
      <div class="col-4">
        <button *ngIf="event.isMine" class="btn btn-primary btn-sm" [routerLink]="['event', event.id,'modify']">
          Modify
        </button>
        <button *ngIf="event.isMine" class="btn btn-danger btn-sm" (click)="deleteEvent(event.id)">
          Delete
        </button>
        <button
          class="btn btn-warning btn-sm"
          [routerLink]="['/event', event.id]"
        >
          Show details
        </button>
        <br />
        <button *ngIf="!event.isMine" class="btn btn-success btn-sm">
          Accept
        </button>
        <button *ngIf="!event.isMine" class="btn btn-warning btn-sm">
          Decline
        </button>
      </div>
    </div>
  </div>
</div>

