<div class="jumbotron event-list">
  <div class="container">
    <!--<h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">Events</h1>
    <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag" *ngIf="currentUser">Explore upcoming meet ups.</p>
    <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag" *ngIf="!currentUser">Sign up to add events.</p>-->
    <div *ngIf="!authenticationService.isUserLoggedIn()">
      <h1 [@title]="titleAnimation" style="opacity: 0; color:blueviolet" class="hero-header">
        Event Planner App
      </h1>
      <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag">
        The only fake event planner you'll ever need
      </p>
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        (click)="goTo('/login')"
        style="background-color: #b9618b; box-shadow: 2px 2px 1px rgb(186 192 220);"
      >
        Sign In
      </button>
    </div>
    <div *ngIf="authenticationService.isUserLoggedIn()">
      <h1 [@title]="titleAnimation" style="opacity: 0" class="hero-header">
        Hey, {{ currentUser.username }}
      </h1>
      <p [@fade]="fadeAnimation" style="opacity: 0" class="hero-tag">
        Get started planning your fake events
      </p>
    </div>
  </div>
</div>
<div class="container">
  <button
    *ngIf="authenticationService.isUserLoggedIn()"
    class="create-event-fab"
    (click)="goTo('/create-event')"
    ngbTooltip="Create a new event"
    placement="top"
  >
    <i class="fa fa-plus"></i><span class="sr-only">Create an event</span>
  </button>
  <p *ngIf="authenticationService.isUserLoggedIn()">&nbsp;</p>
  <div class="row justify-content-md-center">
    <div class="col-5 ">
      <ul class="nav nav-tabs" style="margin-top: 20px;">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active-tab':activedTab==='all'}"  href="#" (click)="getEvents('all')">All</a>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserLoggedIn()">
          <a class="nav-link" [ngClass]="{'active-tab':activedTab==='created'}"  href="#" (click)="getEvents('created')">Created</a>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserLoggedIn()">
          <a class="nav-link" [ngClass]="{'active-tab':activedTab==='invited'}" href="#" (click)="getEvents('invited')">Invited</a>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserLoggedIn()">
          <a class="nav-link" [ngClass]="{'active-tab':activedTab==='accepted'}" href="#" (click)="getEvents('accepted')">Accepted</a>
        </li>
        <li class="nav-item" *ngIf="authenticationService.isUserLoggedIn()">
          <a class="nav-link" [ngClass]="{'active-tab':activedTab==='Rejected'}" href="#" (click)="getEvents('Rejected')">Rejected</a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="filter"></label>
        <input type="text" name="filter" id="filter" class="form-control" placeholder="Search" aria-describedby="helpId" (keyup)="onKey($event)">
        <br>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center" *ngFor="let event of events">
      <div class=" col-8 list-group" style="margin-bottom: 10px; margin: 0px 0px 0px 0px">
        <div class=" list-group-item card-event " style="margin-bottom: 5px;">
          <div class="row">
            <div class="col-11">
              <a class="list-group-item list-group-item-action"
              [routerLink]="['/event', event.id]"
              style="border: 0px; padding: 0%;"
              >
              <span>{{event.date_debut|date:'medium'}}</span> to <span>{{event.date_fin|date:'medium'}}</span>
                <!-- <span>{{ setStartDate(event.date_debut) }}</span> -->
                <h5 class="list-group-item-heading">{{ event.title }}</h5>
                <p class="list-group-item-text">
                  <i class="fa fa-map-marker"></i> {{ event.adresse }} <br />
                  <small><i class="fa fa-users"></i> {{ event.userEventStatus.length }} people are going</small>
                </p>
              </a>
            </div>
            <div class="col-1 icon-event ">
              <!-- <a href="#" class="btn btn-outline-primary btn-sm" placement="top" ngbTooltip="Add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <i class="fa fa-plus"></i>
              </a> -->
              <a *ngIf="activedTab==='created' " [routerLink]="['event', event.id,'modify']" class="btn btn-outline-info btn-sm" placement="top" ngbTooltip="Edit">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <i class="fas fa-pencil"></i>
              </a>
              <a [routerLink]="['/event', event.id]" class="btn btn-outline-success btn-sm" placement="top" ngbTooltip="View">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <i class="fas fa-eye"></i>
              </a>
              <a *ngIf="activedTab==='created'" (click)="deleteEvent(event.id)" class="btn btn-outline-danger btn-sm" placement="top" ngbTooltip="Delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <i class="fas fa-trash"></i>
              </a>
              <a *ngIf=" activedTab==='invited'" class="btn btn-outline-success btn-sm" (click)="acceptEvent(event)" ngbTooltip="Accept">
                <i class="fas fa-check"></i>
              </a>
              <a *ngIf="activedTab==='invited'" class="btn btn-outline-danger btn-sm" (click)="declineEvent(event)" ngbTooltip="Decline">
                <i class="fas fa-times"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" *ngIf="newNotification" class="toast"   role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="fa-regular fa-comment"></i>
      <strong class="me-auto">&nbsp; New Notification!</strong>
      <small>1 min ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, You have a new Invitation! <i class="fa-regular fa-face-smile-beam"></i>
    </div>
  </div>
</div> -->
