<!-- Sticky Footer -->
<!-- <footer class="sticky-footer fixed-bottom" style=" width: 100%; " > 
  <!-- <f> background-color: #563d7c</f> -->
    <!-- <div class="container my-auto">
      <div class="copyright text-center my-auto">
       <span>My Scheduler 2022</span>
      </div>
    </div>
</footer> -->
<!-- <footer class="sticky-footer fixed-bottom" style=" background-color: #563d7c; width: 100%; color: white;">  -->
<footer class="text-center text-lg-start bg-light text-muted"> 
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>  My Scheduler 2022 </span>
      <i class="fa-regular fa-hand-peace"></i>
    </div>
  </div>
</footer>