<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container-fluid">

    <a class="nav-link" href style="color: #fff;" (click)="goTo('/', $event)">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      &emsp;Meet Up!
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Navbar -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#aboutus">
          About Us
        </a>
      <!-- </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">
          Features
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews">
          Reviews
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactus">
          Contact Us
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" href (click)="goTo('/create-event', $event)" >
          Create Event
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authenticationService.isUserLoggedIn()" (click)="goTo('/create-account', $event)">
          Sign Up
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authenticationService.isUserLoggedIn()" (click)="goTo('/login', $event)" >
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" (click)="updateprofile()">
          Edit profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authenticationService.isUserLoggedIn()" (click)="logOut()">
          Logout
        </a>
      </li>
    </ul>

    <div class="d-flex">
      <button *ngIf="authenticationService.isUserLoggedIn()"  type="button" style="position: relative; margin-right: 20px;" class="btn btn-dark btn-outline-light ">
        <i class="fa-regular fa-bell" aria-hidden="true"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          2+
          <span class="visually-hidden">notifications</span>
        </span>
      </button>
      <button *ngIf="authenticationService.isUserLoggedIn()" class="btn btn-outline-light" (click)="goTo('/profile', $event)"><i class="fa-regular fa-user" > </i></button>
    </div>
  </div>
</div>
</nav>

