.home-hero {
    background-color: #eee;
    text-align: center;
    padding: 20px;
}

.jumbotron.home {
    background-image: url('./../../../assets/b1.jpg');
    background-size: cover;
    background-position: center;
}