<!-- <div class="jumbotron create-event">
  <div class="container">
    <h1>Start a fake event</h1>
  </div>
</div>
<div class="container">
  <div class="card" style="margin-top: -60px; margin-left: auto; margin-right: auto; max-width: 600px;">
    <form autocomplete="on" [formGroup]="createEventForm" novalidate>
      <div class="card-block">
        <h4 class="card-title">Create an event</h4>
        <div>
          <div class="form-group" [class.has-warning]="!name.valid && name.touched" [class.has-success]="name.valid && name.touched">
            <label class="col-form-label" for="name">Event name</label>
            <input [formControl]="createEventForm.controls['name']" [class.form-control-warning]="!name.valid && name.touched" [class.form-control-success]="name.valid" type="name" class="form-control" name="name" id="name" required myAutofocus>
            <div [hidden]="name.valid || !name.touched"  class="form-control-feedback">An event name is required.</div>
          </div>
          <div class="form-group" [class.has-warning]="!eventType.valid && eventType.touched" [class.has-success]="eventType.valid && eventType.touched">
            <label for="eventType">Select an event type</label>
            <select [formControl]="createEventForm.controls['eventType']" [class.form-control-warning]="!eventType.valid && eventType.touched" [class.form-control-success]="eventType.valid" class="form-control" id="eventType">
              <option value="" disabled selected>Event types</option>
              <option>Concert</option>
              <option>Party</option>
              <option>Conference</option>
              <option>Wedding</option>
              <option>Other</option>
            </select>
            <div [hidden]="eventType.valid || !eventType.touched"  class="form-control-feedback">An event type is required.</div>
          </div>
          <div class="form-group" [class.has-warning]="!host.valid && host.touched" [class.has-success]="host.valid && host.touched">
            <label class="col-form-label" for="host">Event host</label>
            <input [formControl]="createEventForm.controls['host']" [class.form-control-warning]="!host.valid && host.touched" [class.form-control-success]="host.valid" type="name" class="form-control" name="host" id="host" required>
            <div [hidden]="host.valid || !host.touched"  class="form-control-feedback">An event host is required.</div>
            <small class="form-text text-muted">This could be a person or company name.</small>
          </div>
          <button (click)="addProposedDate()"><i class="fa fa-plus"></i></button>
          <div  formArrayName="dates" *ngFor="let item of createEventForm.get('dates')['controls']; let i = index;" >
           <div [formGroupName]="i"> 
            <label class="col-form-label" for="startdate{{i}}">Start date {{i+1}}</label>
             <input formControlName="start" type="datetime-local" class="form-control" placeholder="start date {{i+1}}" name="startdate{{i}}" />
             <label class="col-form-label"for="enddate{{i}}">END date {{i+1}}</label>
             <input formControlName="end" type="datetime-local" class="form-control"  placeholder="end date {{i+1}}" name="enddate{{i}}"/>
          </div>
          </div>

          <div class="form-group" [class.has-warning]="!location.valid && location.touched" [class.has-success]="location.valid && location.touched">
            <label class="col-form-label" for="location">Location</label>
            <input [formControl]="createEventForm.controls['location']" [class.form-control-warning]="!location.valid && location.touched" [class.form-control-success]="location.valid" class="form-control" id="location" placeholder="Enter an address" (focus)="geolocate()" (blur)="updateLocationValue()" type="text" required>
            <div [hidden]="location.valid || !location.touched" class="form-control-feedback">A location is required.</div>
          </div>
          
           <div class="form-group" [class.has-warning]="!guests.value.length && guestsTouched" [class.has-success]="guests.value.length && guestsTouched">
            <label class="col-form-label" for="guests">Guest list</label>
            <tag-input (onBlur)="checkGuestList($event)" [formControl]="createEventForm.controls['guests']" [(ngModel)]='guests.value' placeholder="Add a guest" secondaryPlaceholder="Hit enter to add name" class="form-control" id="guests" required></tag-input>
            <div [hidden]="guests.value.length || !guestsTouched"  class="form-control-feedback">Guests are required to create events.</div>
            <small class="form-text text-muted">To add multiple guests, type a name and hit the enter key.</small>
          </div>
          <div class="form-group">
            <label for="message">Message <small class="text-muted">(optional)</small></label>
            <textarea [formControl]="createEventForm.controls['message']" name="message" class="form-control" id="message" rows="3"></textarea>
            <small class="form-text text-muted">Would you like to give more information to your guests?</small>
          </div>
          <button type="button" (click)="onSubmit()"  class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div class="container">
  <form (ngSubmit)="!meetingForm.invalid && saveMeeting()" #meetingForm="ngForm">
    <fieldset class="form-group">
      <label>Title:</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="meeting.title" required>
    </fieldset>

    <fieldset class="form-group">
      <label>date de debut:</label>
      <input type="datetime-local" name="time" class="form-control" [(ngModel)]="meeting.date_debut" required>
    </fieldset>

    <fieldset class="form-group">
      <label>date de fin:</label>
      <input type="datetime-local" name="time" class="form-control" [(ngModel)]="meeting.date_fin" required>
    </fieldset>

    <select style="z-index: 2000;" placeholder="type d'evenement:" appendTo="body"  searchable="true" name="type_event"
               [(ngModel)]="selected_type_event_name" >
               <option *ngFor="let typeevent of alltypeeventsname"  [value]="typeevent"> {{typeevent}} </option>
    </select>

    <fieldset>
      <label>Description:</label>
      <input type="text" name="description" [(ngModel)]="meeting.description" class="form-control">
    </fieldset>

    <fieldset class="form-group" >
      <label class="col-form-label" for="location">Location</label>
      <input id="location" placeholder="Enter an address" (focus)="geolocate()" (blur)="updateLocationValue()" type="text" required>
      <!-- <div [hidden]="location.valid || !location.touched" class="form-control-feedback">A location is required.</div> -->
    </fieldset>

    <!-- <select style="z-index: 2000;" [items]="allUsernames"  placeholder="Invite people:" appendTo="body" multiple="true" searchable="true" name="usernames-of-invitees"
      [(ngModel)]="meetingInvitees">
    </select> -->

    <button type="submit" class="btn btn-success">Done</button>

  </form>
</div>
