.jumbotron.create-event {
    background-image: url('./../../../assets/bg13.jpg');
    background-size: cover;
    background-position: center;
}

#start {
    min-height: 42px;
}

#end {
    min-height: 42px;
}

.guest-tag {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05rem;
    background: #efefef;
    color: #222;
    cursor: pointer;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0.1rem 0.2rem;
    line-height: 32px;
    display: inline-block;
}


.card-register {
    max-width: 40rem;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

