<header id="navbar" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #563d7c; padding-left:20px ;">

  <a class="navbar-brand mr-0 mr-md-2 hidden-sm-up" href style="color: #fff;" (click)="goTo('/', $event)">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    &emsp;My Scheduler
  </a>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item">
      <a class="nav-link" href="#aboutus">
        About Us
      </a>
    <!-- </li>
    <li class="nav-item">
      <a class="nav-link" href="#features">
        Features
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#reviews">
        Reviews
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contactus">
        Contact Us
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" href (click)="goTo('/create-event', $event)" >
        Create Event
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!currentUser" (click)="goTo('/create-account', $event)">
        Sign Up
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " *ngIf="currentUser" (click)="logOut()">
        Logout
      </a>
    </li>
  </ul>
</header>
<router-outlet></router-outlet>

<!-- back to top -->
<button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        (click)="backToTop()"
        >
  <i class="fa fa-arrow-up"></i>
</button>

  <!-- Logout Modal-->
  <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div> -->
  
<app-footer></app-footer>